
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <%= link_to admins_dashboard_index_path, class:"brand-link" do %>
      <%= image_tag "admin_logo.png", class: "brand-image img-circle elevation-3" %>
      <span class="brand-text font-weight-light">My Notes</span>
    <% end %>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <%= image_tag "icon.jpeg", class: "img-circle elevation-2" %>
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= current_admin.email %></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to admins_users_path, class:"nav-link" do %>
                  <%= fa_icon "circle nav-icon" %> <p> Users</p>
                <% end %>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to admins_notes_path, class:"nav-link" do %>
                  <%= fa_icon "circle nav-icon" %> <p> Notes</p>
                <% end %>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to admins_chat_index_path, class:"nav-link" do %>
                  <%= fa_icon "circle nav-icon" %> <p> Chats</p>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
