<div class="login-box">
  <div class="login-logo">
    <b>Admin</b>Panel
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, class:"form-control", placeholder:"Enter Your Email", autofocus: true, autocomplete: "email" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <%= fa_icon "envelope", class:"ic" %>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, class:"form-control", placeholder:"Enter Password", autocomplete: "current-password" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <%= fa_icon "lock", class:"ic" %>
            </div>
          </div>
        </div>
        <div class="row">
          <% if devise_mapping.rememberable? %>
            <div class="col-8">
              <div class="icheck-primary">
                <%= f.check_box :remember_me , id: "remember"%>
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
          <% end %>
          <!-- /.col -->
          <div class="col-sm text-center">
            <%= f.submit "Log in", class:"btn btn-primary" %>
          </div>
          <!-- /.col -->
        </div>
        <% end %>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
