
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Admin</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3><%= @no_of_notes %></h3>

            <p>Notes</p>
          </div>
          <div class="icon">
            <%= fa_icon "clipboard", class:"ic" %>
          </div>
          <%#= link_to notes_admins_dashboard_index_path, class:"small-box-footer" do %>
            More info <%= fa_icon "arrow-circle-right", class:"ic" %>
          <%# end %>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
              <h3><%= @no_of_user %></h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <%= fa_icon "user", class:"ic" %>
          </div>
          <%#= link_to users_admins_dashboard_index_path, class:"small-box-footer" do %>
             More info <%= fa_icon "arrow-circle-right", class:"ic" %>
          <%# end %>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3><%= @no_of_shared_notes %></h3>

            <p>Share Notes</p>
          </div>
          <div class="icon">
            <%= fa_icon "share", class:"ic" %>
          </div>
          <%#= link_to share_notes_admins_dashboard_index_path, class:"small-box-footer" do %>
            More info <%= fa_icon "arrow-circle-right", class:"ic" %>
          <%# end %>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- /.card -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
<script type="text/javascript">
    $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
